html {
  font-family: Helvetica, sans-serif;
  color: black;
  text-align: center;
}

header {
  color: white;
  font-size: 18px;
  background-image: url(../images/the-flatiron-building.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 70px;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

ul {
  list-style-type: none;
  border: 0;
  padding: 0;
}

li {
  padding: 5px;

}

a {
  color: white;
  padding: 0 5px 0 5px;
}

footer {
  background-color: dimgrey;
  background-size: contain;
  color: white;
  text-align: left;
  padding: 2px;
}

nav {
  display: inline-block;
  padding: 0 5px 0 5px;
}

span {
  font-size: 11px;
}

button {
  background-color: lightblue;
  box-shadow: 5px 5px 5px lightgrey;
  border-radius: 10px;
}

.splitter {
  color: white;
  background-image: url(../images/the-flatiron-building.png);
}

.contacts_list {
  font-size: 14px;
}

.mail {
  color: black;
}
